#	Copyright(c) 2018 Gluwa, Inc.
#
#	This file is part of Creditcoin.
#
#	Creditcoin is free software: you can redistribute it and/or modify
#	it under the terms of the GNU Lesser General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#	GNU Lesser General Public License for more details.
#
#	You should have received a copy of the GNU Lesser General Public License
#	along with Creditcoin. If not, see <https://www.gnu.org/licenses/>.

version: "3.7"

services:

  settings-tp:
    image: hyperledger/sawtooth-settings-tp:1.0
    container_name: sawtooth-settings-tp-testnet
    depends_on:
      - validator
    expose:
      - 4004
    command: settings-tp -C tcp://validator:4004
    stop_signal: SIGKILL

  validator:
    image: gluwa/creditcoin-validator:nightly
    container_name: sawtooth-validator-testnet
    volumes:
      - type: volume
        source: validator-testblock-volume
        target: /var/lib/sawtooth/
      - type: volume
        source: validator-key-volume
        target: /etc/sawtooth/keys/
    expose:
      - 4004
      - 8800
    ports:
      - 4004:4004
      - 8800:8800
    command: |
        bash -c 'if [[ ! -f /etc/sawtooth/keys/validator.pub ]]
            then 
                echo "First run"
                sawadm keygen
            fi
            sawtooth-validator -vv \
                --endpoint tcp://[insert.your.ip]:8800 \
                --bind component:tcp://eth0:4004 \
                --bind network:tcp://eth0:8800 \
                --scheduler parallel \
                --peering dynamic \
                --seeds tcp://creditcoin-test-node.gluwa.com:8800 \
                --seeds tcp://creditcoin-test-gateway.gluwa.com:8800'
    stop_signal: SIGKILL

  rest-api:
    image: gluwa/sawtooth-rest-api:nightly
    container_name: sawtooth-rest-api-testnet
    expose:
      - 8008
    ports:
      - 8008:8008
    depends_on:
      - validator
    command: sawtooth-rest-api -C tcp://validator:4004 --bind rest-api:8008
    stop_signal: SIGKILL

  processor:
    image: gluwa/creditcoin-processor-next:nightly
    container_name: creditcoin-processor-testnet
    depends_on:
      - validator
      - settings-tp
      - rest-api
    expose:
      - 4004
    command: |
        bash -c 'rest_status=$$(curl -s --head -w %{http_code} http://rest-api:8008/state?address=000000 -o /dev/null)
            while [ "$$rest_status" != "200" ]
            do
                echo $$rest_status
                sleep 2
                rest_status=$$(curl -s --head -w %{http_code} http://rest-api:8008/state?address=000000 -o /dev/null)
            done
            ./ccprocessorLinux.out tcp://validator:4004 tcp://gateway:55555 http://rest-api:8008'
    stop_signal: SIGKILL

  gateway:
    image: gluwa/creditcoin-gateway-next:nightly
    container_name: creditcoin-gateway-testnet
    expose:
      - 55555
    ports:
      - 55555:55555
    secrets:
     - source: gateway_config
       target: /home/Creditcoin/Gateway/appsettings.json
    entrypoint: ./ccgateway
    stop_signal: SIGKILL

secrets:
  gateway_config:
    file: ./gatewayConfig.json

volumes:
  validator-testblock-volume:
  validator-key-volume:
